/*-----------------------------------------------------------------------------------

	Custom Additions to Canvas

-----------------------------------------------------------------------------------*/

.bottommargin-verysm {
    margin-bottom: 15px !important;
}

.noline::after {
    border-top: none;
}

.portfolio-desc h5 a {
    color: #222;
}

.portfolio-desc h5 a:hover {
    color: #1abc9c;
}

.team-title h5 {
    display: block;
    margin-bottom: 0;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 16px;
}

.col-md-2 {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.col-md-2 .team-title span {
    font-size: 12px;
}

div.activity-item {
    text-align: center;
    margin-bottom: 50px;
}

div.research-title, div.activity-title {
    font-weight: bold;
    margin-bottom: 15px;
}

div.research-pi {
    font-style: italic;
    margin-bottom: 20px;
}

div.activity-timeplace {
    margin-bottom: 15px;
}

p.activity-desc {
    position: relative;
    float: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    text-align: justify;
}

.activity-list {
    position: relative;
    float: none;
    margin-left: 20px;
    margin-right: auto;
    margin-bottom: 5px;
    text-align: justify;
}

div.activity-link {
    font-weight: bold;
    margin-bottom: 2px;
}

div.activity-meta {
    font-style: italic;
    font-size: smaller;
}

.team {
    margin: auto;
    width: 70%;
    text-align: center;
}

.team-title {
    min-height: 140px;
}

.col-centered {
    float: none;
    margin: 0 auto;
}
    
.entry-date {
    font-style: italic;
    font-size: 8pt;
}

.team-desc.team-desc-bg {
    padding-bottom: 10px;
}

.disclaimer {
    font-style: italic;
}

.col-half-offset {   /* for dividing into fifths */
    margin-left: 4.166666667%;
}

.entry-image {
    /*float: right;*/
    margin: 20px;
}

#about .entry-image {
    width: 400px;
}

#countries .entry-image {
    width: 400px;
}

#research .entry-image {
    width: 544px;                             
}

.sponsor {
    height: 90px;
}

#countries h5 {
    font-style: italic;
    margin-top: 20px;
    margin-bottom: 15px;
}

.rightfloat {
	float: right;
	margin-left: 10px;
}

.leftfloat {
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
}

img.margin {
    margin-left: 10px;
    margin-right: 10px;
}

.team-title span.email {
    font-family: sans-serif;
	font-style: normal;
}

.results li {
	margin-bottom: 10px;
}

.hl {
	font-weight: bold;
}

.team {
	min-width: 150px;
}

h4.lowercase-heading-block {
	font-weight: 600;
	text-transform: none;
}

.heading-block h1,
.heading-block h2,
.heading-block h3,
.heading-block h4,
.emphasis-title h1,
.emphasis-title h2,
.slider-caption h2 {
	text-transform: none;
}

.slider-caption h2 {
    color: #eeeeee;
    font-family: sans-serif;
    font-weight: 600;
    text-shadow: 1px 1px 1px rgba(0,0,0,1.0) !important;
}

.content-wrap {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.section {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    background-color: #ffffff;
}

.section-heading-block {
    background-color: #e5e5e5;
    text-align: left !important;
    padding-left: 10px;
}

div.research_outcomes {
    font-weight: bold;
}

div.research_citations > dl > dd {
    margin-bottom: 0px !important;
    padding-top: 10px;
    padding-bottom: 10px;
}

.research_title {
    position: relative;
    line-height: 24px;
    margin: 0;
    font-size: 14px;
    font-weight: 700;
    color: #444;
    padding: 10px 0 10px 20px;
}

.research_title i {
	margin-right: 10px;
}

.research_content {
    position: relative;
    padding: 0 0 15px 20px;
}

#flagrow {
    margin-bottom: 50px;
}

#flag {
    width: 80%;
}

.primary-menu ul li > a {
    /* display: block; */
    line-height: 22px;
    padding: 39px 10px;
    color: #444;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: Poppins,sans-serif;
}

body {
    font-size: .875rem
}

.topmargin {
    margin-top: 50px !important;
}

.bottommargin {
    margin-bottom: 50px !important;
}

.nobottommargin {
    margin-bottom: 0 !important;
}

@media(min-width: 1440px) {
    .container {
        max-width: 1140px;  /* copied from bootstrap.css */
    }
}

.swiper_wrapper .swiper-slide {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.toggle-title, .no-toggle-title {
    color: #444;
    font-weight: 600;
    line-height: 1.5;
    margin: 0 0 0 0;
    font-family: Poppins,sans-serif;
}

.no-toggle-title, .no-toggle-icon {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

.toggle-h3 {
    font-size: 1.5rem;
}

.toggle-h4 {
    font-size: 1rem;
}

.toggle-h5, .no-toggle-h5 {
    padding-top: 2px;
    font-size: .875rem;
    font-style: italic;
}

.toggle:not(.toggle-active) .toggle-closed {
    display:inline-block;
}

#aboutVideo {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

#aboutVideo iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
