/*-----------------------------------------------------------------------------------

	Custom Additions to Canvas

-----------------------------------------------------------------------------------*/

.bottommargin-verysm {
    margin-bottom: 15px !important;
}

.noline::after {
    border-top: none;
}

.portfolio-desc h5 a {
    color: #222;
}

.portfolio-desc h5 a:hover {
    color: #1abc9c;
}

.team-title h5 {
    display: block;
    margin-bottom: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
}

.col-md-2 {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.col-md-2 .team-title span {
    font-size: 12px;
}

div.activity-item {
    text-align: center;
    margin-bottom: 50px;
}

div.research-title, div.activity-title {
    font-weight: bold;
    margin-bottom: 15px;
}

div.research-pi {
    font-style: italic;
    margin-bottom: 20px;
}

div.activity-timeplace {
    margin-bottom: 15px;
}

p.activity-desc {
    position: relative;
    float: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    text-align: justify;
}

.activity-list {
    position: relative;
    float: none;
    margin-left: 20px;
    margin-right: auto;
    margin-bottom: 5px;
    text-align: justify;
}

div.activity-link {
    font-weight: bold;
    margin-bottom: 2px;
}

div.activity-meta {
    font-style: italic;
    font-size: smaller;
}

.team {
    margin: auto;
    width: 70%;
    text-align: center;
}

.team-title {
    min-height: 140px;
}

.col-centered {
    float: none;
    margin: 0 auto;
}
    
.entry-date {
    font-style: italic;
    font-size: 8pt;
}

.team-desc.team-desc-bg {
    padding-bottom: 10px;
}

.disclaimer {
    font-style: italic;
}

.col_one_seventh {
    width: 10.85%;
	display: block;
	position: relative;
	margin-right: 4%;
	margin-bottom: 50px;
	float: left;
}

form .col_one_seventh { 
    margin-bottom: 25px; 
}

.footer-widgets-wrap .col_one_seventh { 
    margin-bottom: 0;
}

.col-half-offset {   /* for dividing into fifths */
    margin-left: 4.166666667%;
}

.entry-image {
    float: right;
    margin: 20px;
}

#about .entry-image {
    width: 400px;
}

#countries .entry-image {
    width: 400px;
}

#research .entry-image {
    width: 544px;                             
}

.sponsor {
    height: 90px;
}

.dark #header-wrap:not(.not-dark) #primary-menu > ul > li > a,
.dark #header-wrap:not(.not-dark) #primary-menu > .container > ul > li > a,
.dark.overlay-menu #header-wrap:not(.not-dark) #primary-menu > ul > li > a,
.overlay-menu #primary-menu.dark > ul > li > a,
.dark.overlay-menu #header-wrap:not(.not-dark) #primary-menu > #overlay-menu-close,
.overlay-menu #primary-menu.dark > #overlay-menu-close,
.dark #header-wrap:not(.not-dark) #top-search a,
.dark #header-wrap:not(.not-dark) #top-cart a,
.dark #header-wrap:not(.not-dark) #side-panel-trigger a,
.dark #header-wrap:not(.not-dark) #top-account a,
.dark #top-cart .top-cart-item-desc a,
body.top-search-open .dark #header-wrap:not(.not-dark) #top-search a,
.dark #header-wrap:not(.not-dark) #top-search a:hover,
.dark #header-wrap:not(.not-dark) #top-cart a:hover,
.dark #header-wrap:not(.not-dark) #side-panel-trigger a:hover,
.dark #header-wrap:not(.not-dark) #top-account a:hover,
.dark #header-wrap:not(.not-dark) #top-search form input,
.dark .slider-caption,
.dark .slider-caption h2 {
	text-shadow: 1px 1px 1px rgba(0,0,0,1.0) !important;
}

#countries h5 {
    font-style: italic;
    margin-top: 20px;
    margin-bottom: 15px;
}

#activities img {
    float: right;
    margin-left: 10px;
}

img.rightfloat {
	float: right;
	margin-left: 10px;
}

img.leftfloat {
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.team-title span.email {
    font-family: sans-serif;
	font-style: normal;
}

.acctitle h3 {
	margin-left: 20px;
}

.results li {
	margin-bottom: 10px;
}

.hl {
	font-weight: bold;
}

.team {
	min-width: 150px;
}